resource "aws_iam_group" "{{item}}" {
  name = "{{item}}"
}
{% for policy_attachment in cv_iam_groups[item]['policy_attachments'] %}

resource "aws_iam_group_policy_attachment" "{{item}}_{{ policy_attachment['name'] }}" {
  group      = "${aws_iam_group.{{item}}.name}"
  policy_arn = "{{ policy_attachment['arn'] }}"
}
{% endfor %}

resource "aws_iam_group_membership" "{{item}}" {
  name  = "{{item}}"
  group = "${aws_iam_group.{{item}}.name}"

  users = [
  {% for user in cv_iam_groups[item]['users'] %}
    "${aws_iam_user.{{user['name']}}.name}",
  {% endfor %}
  ]
}
{% for user in cv_iam_groups[item]['users'] %}

# User {{user['name']}}
resource "aws_iam_user" "{{user['name']}}" {
  name          = "{{user['name']}}"
  path          = "/"
  force_destroy = true
}

{% if (user['pgp_key'] is defined)%}
resource "aws_iam_user_login_profile" "{{user['name']}}" {
  user                    = "${aws_iam_user.{{user['name']}}.name}"
  password_reset_required = true
  pgp_key                 = "{{user['pgp_key']}}"
}
{% if (cv_iam_groups[item]['create_access_keys'] is defined) %}
resource "aws_iam_access_key" "{{user['name']}}" {
  user    = "${aws_iam_user.{{user['name']}}.name}"
  pgp_key = "{{user['pgp_key']}}"
}
{% endif %}
{% endif %}
{% endfor %}

output "iam_group_{{ item }}" {
  value = <<KEYS
{% for user in cv_iam_groups[item]['users'] %}
  @{{user['name']}}:
{% if  (user['pgp_key'] is defined)%}
    Password: '${aws_iam_user_login_profile.{{user['name']}}.encrypted_password}'
{% if (cv_iam_groups[item]['create_access_keys'] is defined) %}
    Access:
      Key: '${aws_iam_access_key.{{user['name']}}.id}'
      Secret: '${aws_iam_access_key.{{user['name']}}.encrypted_secret}'
{% endif %}
{% endif %}
{% endfor %}
KEYS
}
