
resource "aws_iam_account_password_policy" "strict" {
  max_password_age               = {{ cv_iam_max_password_age }}
  minimum_password_length        = {{ cv_iam_minimum_password_length }}
  require_symbols                = true
  require_numbers                = true
  require_lowercase_characters   = true
  require_uppercase_characters   = true
  allow_users_to_change_password = true
  password_reuse_prevention      = {{ cv_iam_password_reuse_prevention }}
  hard_expiry                    = true
}

{% for policy in cv_iam_policies %}

# {{ policy['description'] }}
data "template_file" "iam_policy_{{ policy['name'] }}" {
  template = "${file("policies/{{ policy['name'] }}.json")}"
{% if policy['vars'] is defined %}
  vars {
{% for policy_var in policy['vars'] %}
    {{ policy_var['name']}} = "{{ policy_var['value'] }}"
{% endfor %}
  }
{% endif %}
}
resource "aws_iam_policy" "{{ policy['name'] }}" {
  name   = "mo-tf-{{ policy['name'] }}"
  description = "{{ policy['description'] }}"
  path   = "/"
  policy = "${data.template_file.iam_policy_{{ policy['name'] }}.rendered}"
}
{% endfor %}
