terraform {
  required_version = "{{ cv_terraform_version }}"

  backend "s3" {
    bucket         = "{{ cv_state_s3_bucket_name }}"
    key            = "cv_iam.tfstate"
    region         = "{{ cv_aws_region }}"
    dynamodb_table = "{{ cv_state_lock_dynamodb_table_name }}"
    encrypt        = true
  }
}
